@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

:root{

--ModerateCyan: hsl(176, 50%, 47%);
--Darkcyan: hsl(176, 72%, 28%);
--Black: hsl(0, 0%, 0%);
--DarkGray: hsl(0, 0%, 48%);
font-family: "commissioner", sans-serif;


}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: scroll;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(247, 247, 247);
    width: 100vw;
    height: 100%;  
}
.img-container{
    display: flex;
    width: 100vw;
    height: 60vh;
   
}   
.img{
    width: 100%;
}
header{
    color:#fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 80px  ;   
}
header h3{
    font-size: 36px;
    padding-left: 150px;   
}
header .enlaces{
    padding: 0px 220px;   
}
.enlaces a{
    text-decoration: none;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
   
}
.section-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px ;
    max-width: fit-content;
    min-width: 900px;
    margin-inline: auto;
    margin-block: auto;
    padding: 0px 60px;
    border: 1px solid rgb(226, 226, 226);
    margin-top: -300px;      
}

.section-1 img{
    position:absolute;
    width: 70px;

}
 h1,h3{
    font-size: 36px;
    
   
}
.section-1 p{
    padding-top: 20px;
    font-size: 22px;
    color: var(--DarkGray);
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    padding-bottom: 60px;
    
   
}
.buttons button{
    cursor: pointer;
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight:600;
    background-color: var(--ModerateCyan);    
}
.btn-project:hover{
    background-color: var(--Darkcyan);
}
.section-2{
    display:flex;
    align-items: center;
    background-color: #fff;
    min-width: 900px;
    padding: 60px 60px;
    border-radius: 10px;
    max-width: fit-content;
    margin-inline: auto;
    border: 1px solid rgb(226, 226, 226);
   
    
    
}
.section-2 h3{
    font-size: 44px;
    padding-left: 80px;
    width: 100%;
  
    
    
}
.section-2 p{
    padding-left: 80px;
    font-size: 20px;
    color: var(--DarkGray);
}
.section-2 .range{
    width: 100%;
    margin-top: 50px;
    border: 1px solid black;
}
.section-3{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 900px;
    padding: 40px 60px;
    margin-inline: auto;
    border-radius: 10px;
    border: 1px solid rgb(226, 226, 226);
    
}
.section-3 h3{
    font-size: 26px;
    padding-bottom: 30px;
}
.section-3 p{
    font-size: 18px;
    color: var(--DarkGray);
}
.bamboo-container{
    margin-top: 40px;
    padding: 40px 30px;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 10px;
}
.bamboo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bamboo span{
    color: var(--ModerateCyan);
    font-weight: 600;
}
.bamboo-container .button{
    display: flex;
    justify-content: space-between;
}
.bamboo-container button{
    cursor: pointer;
    padding: 18px 35px;
    margin-top: 40px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight:600;
    background-color: var(--ModerateCyan); 
}
.bamboo-container button:hover{
    background-color: var(--Darkcyan);
}
.bamboo-container .button div{
    display:flex;
    align-items: flex-end;
  
   
    
}
.bamboo-container .button div h3{
    margin-right: 10px;
    font-size: 34px;
   
    
}
